<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../components/head') %>
    <title>Profiel</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu-wrapper">
                <li>
                    <a href="/profile">
                        <span class="paw"></span>
                    </a>
                </li>
                <li class="close-detail">
                    <a href="/">
                        <span class="close"></span>
                    </a>
                </li>
                <li>
                    <a href="/getMatches">
                        <span class="bone"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="detail">
        <% if(data) { %>
            <section class="dog-container">
                <div class="image-gallery">
                    <% data.images.forEach(image => { %>
                    <div class="image-cropper">
                        <img src="<%= image %>" alt="<%= data.name %>">
                    </div>
                    <% }) %>
                </div>
                <div class="detail-content">
                    <div class="detail-intro">
                        <h1><%= data.name %></h1>
                        <p>
                            <span class="pin"></span>
                            <%= data.location %>
                        </p>
                    </div>
                    <ul class="detail-list">
                        <li><%= data.age %> Years old</li>
                        <li><%= data.characteristics %></li>
                        <li class="bio">"<%= data.bio %>"</li>
                        <li>
                            <span class="instagram"></span>
                            @<%= data.instagram %>
                        </li>
                    </ul>
                </div>
                </div>
                <form action="/setlike" method="post" class="button-wrapper">
                    <button type="submit" value="dislike" class="dislike" name="likeButton"></button>
                    <button type="submit" value="<%= data._id %>" class="like" name="likeButton"></button>
                </form>
            </section>
        <% } %>
    </main>
    <%- include ('../components/footer') %>
</body>

</html>