<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../components/head') %>
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu-wrapper">
                <li>
                    <a href="/profile">
                        <span class="paw"></span>
                    </a>
                </li>
                <li>
                    <button type="button">Filters</button>
                </li>
                <li>
                    <a href="/getMatches">
                        <span class="bone"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <% if (data) { %>
            <section class="dog-wrapper">
                <% data.forEach(dog => { %> 
                    <article class="dog-container">
                        <a href="/<%= dog._id %>" class="view-more">
                            <div class="image-wrapper">
                                <div class="image-cropper">
                                    <img src="<%= dog.images[0] %>" alt="bobby">
                                </div>
                            </div>
                            <div class="content-intro">
                                <h1><%= dog.name %></h1>
                                <p>
                                    <span class="pin"></span>
                                    <%= dog.location %>
                                </p>
                            </div>
                            <ul class="content-list">
                                <% if (dog.age == 1) { %>
                                    <li><%= dog.age %> Year old</li>
                                <% } else { %>
                                    <li><%= dog.age %> Years old</li>
                                <% } %>
                                <li><%= dog.characteristics %></li>
                                <li>"<%= dog.bio %>"</li>
                            </ul>
                        </a>
                        <form action="/setlike" method="post" class="button-wrapper">
                            <button type="submit" value="dislike" class="dislike" name="likeButton"></button>
                            <button type="submit" value="<%= dog._id %>" class="like" name="likeButton"></button>
                        </form>
                    </article>
                <%  }) %>
            </section>
        <% } else { %>
            <p>Nothing to show here</p>
        <% }  %>
    </main>
    <%- include ('../components/footer') %>
</body>

</html>